<ng-container>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="custom-sidenav">
      <div style="height: 80vh">
        <mat-nav-list>
          <a mat-list-item routerLink="/components/dashboard" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            📊 Dash Board
          </a>
          <a mat-list-item routerLink="/components/category" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            📊 Category
          </a>
        </mat-nav-list>
      </div>
      <div class="text-center mt-3">
        <div class="px-3 d-flex align-items-center gap-5">
          <button
            type="button" class="btn btn-outline-danger btn-sm d-flex align-items-center" matTooltip="Logout"
            (click)="logout()">
            <mat-icon class="me-1" color="warn">logout</mat-icon>
          </button>
        </div>
      </div>
    </mat-sidenav>

    Main Content
    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>